#r1{
    color: white;
    min-height: 360px;
    background-color: rgb(44, 44, 217);
}
#i1{
     width: 50%;
     
    border-radius: 50%;
}
#i2{
    height: 480px;
    width: 90%;
    border-radius: 5%;
}
#d1{

    color: white;
    height: 20px;
    background-color: rgb(44, 44, 217);
}

.parent{
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.c1{
    display: flex;
    justify-content: center;
}
.foot{
    height: 200px;
    background-color: rgb(44, 44, 217);
}